<div class="add_to_cart_form">


  <div style="display:flex;flex-direction:column;" id="wrapper-amount">
  <div class="reviewtextamount" id="product-description-paragraph" style="margin-left:0px;color:gray;font-size:14px;margin-bottom:4px;">Dagdeal </div>
<input type="number" class="text-field-4 w-input" maxlength="256" name="quantity" min="1" value="1" data-name="quantity" placeholder="1" item="quantity" id="field-4" required="">
  </div>
                </div> 
