         
        <div style="margin-top:16px;">
          <p class="paragraph-2">
         UPDATE: We are currently going <b>VIRAL</b>  on TikTok. Because of significant increases in visitors we experience a limited availability in stock.</p>
          </div>
