<body class="body-colored">

  <div class="about-page-section">
    <div class="customcontainer">
      <div class="columns-2 w-row">
        <div class="about-page-image-column w-col w-col-6 w-col-stack"><img src="{{'over.jpg' | asset_url }}" loading="lazy" alt="" class="about-image"></div>
        <div class="about-page-text-column w-col w-col-6 w-col-stack">
          <h1 class="about-us-heading">{{ page.title }}</h1>
          <p class="paragraph-white">Do you notice these awesome products passing by on TikTok? Do you like these products but have no clue where to get them? We are Trendt, with us you’ll find those products you see on the For You Page. Our product range is continuously updated by the Trendt team, a team of genuine TikTok experts. They identify the newest trends non stop and provide the best prices. Thanks to our wide product range you’ll find something fitting at Trendt anytime. Customer satisfaction is important to us and that’s why we are always there to help you. Whether you have remarks, complaints or questions? Feel free to contact us by filling out the contact form. Our support is at your disposal 24/7.</p>
        </div>
      </div>
    </div>
  </div><img src="{{'wave-blauw.png' | asset_url}}" loading="lazy" sizes="100vw"  alt="" class="wave-over-ons-pagina">
{% include 'vip' %}
{% include 'usps' %}
  {% include 'footer' %}
</body>
